<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <footer th:fragment="footer" class="footer-custom">

    <!-- ログイン中 -->
    <small th:if="${session != null and session.loginUser != null}">
      <span th:text="${session.loginUser.name}">ユーザー名</span>
    </small>
  
    <!-- 未ログイン -->
    <small th:if="${session == null or session.loginUser == null}">
      portfolio site
    </small>
  
  </footer>
</body>
</html>