<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>共通ヘッダー</title>
</head>
<body>
  <header th:fragment="header">
    <nav class="navbar-custom"
         th:classappend="${isLoginPage} ? ' justify-content-center' : ' justify-content-between'">
      <div class="navbar-brand-custom">My Portfolio</div>

      <!-- ログインページ以外でログインボタンを表示 -->
      <button th:if="${isLoginPage != true}" class="login-button" onclick="location.href='/login'">ログイン</button>
    </nav>
  </header>
</body>
</html>